.text
  .date
    background-color #454545

  .contents
    width 82%
    padding-left 8%
    min-width 700px
    max-width 900px

    blockquote
      border-left #cbcbcb 5px solid
      padding-left 1em
