script(src='http://s.hatena.ne.jp/js/HatenaStar.js', type='text/javascript')
script(type='text/javascript').
  Hatena.Star.Token = '3a1ed4c9e76deeae4ba1ecdc11d157389478ef5c';
    Hatena.Star.SiteConfig = {
        entryNodes: {
          'div.post': {
            uri: '.date a',
            title: '.date',
            container: '.starcontainer'
          }
        }
      };
